@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-gray: hsl(0, 0%, 59%);
  --very-dark-gray: hsl(0, 0%, 17%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --dark-gray: hsl(0, 0%, 59%);
    --very-dark-gray: hsl(0, 0%, 17%);
  }
}

body {
  
}